{% extends 'grade/base.html' %}

{% block content %}
    <h1>Bem Vindo ao InovaHora!</h1>
   <!-- <form method="POST" class="post-form">{% csrf_token %}
      #  {{ form.as_p }}
        <div align='right'>
          <button type="submit" class="btn btn-default">Salvar</button>
          <table>!>

    </div>
-->
Escolha o que deseja fazer:
<div align='center'>
</div>
  <a class="btn btn-default" href="d" role="button">Cadastrar Disciplina</a>
  <a class="btn btn-default" href="p" role="button">Cadastrar Professor</a>
  <a class="btn btn-default" href="t" role="button">Cadastrar Turma</a>
</form>




{% endblock content %}
