  {% extends 'grade/base.html' %}
{% load staticfiles %}
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grade.css' %}">
</head>

<body>

{% block content %}
    
  <div  class="container" >
    <div class="row">
    <div class="col-md-12" class="col-sm-12">
    <H1 align='center' style="margin-top:50px;">CADASTRO DE PROFESSOR</H1>


        </br>
        </br>
        </div>
<div align='left'class="col-sm-12">
  <a href="/" Style="text-decoration: none; border-radius: 5px; text-align: center;  color: white; background-color: #808080; padding: 5px 20px 5px 5px; font-size: 15px; font-align:center; margin-left:20px">
  <b text-align='center'> VOLTAR </b></a>
  <a href="/novoprofessor" Style="text-decoration: none; border-radius: 5px; text-align: center;  color: white; background-color: #4682B4; padding: 5px 20px 5px 5px; font-size: 15px; font-align:center; margin-left:20px">
  <b text-align='center'> Novo professor </b></a>
    </br>
    </br>
    </br>
    </br>
</div>
</div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table   class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Disciplina</th>
                        <th class="actions">Ações</th>
                     </tr>
                </thead>{% for prof in datas %}
                <tbody>
                  <td>{{ prof.id }}
                  <td>{{ prof.nome }}
                  <td>{{ prof.disc_p }}
                          <td class="actions">
                            <a class="btn btn-success btn-xs" href="visaoprof.html">Visualizar</a>
                            <a class="btn btn-warning btn-xs" href="editarprof">Editar</a>
                            <a class="btn btn-danger btn-xs"  href="/" data-toggle="test" data-target="#tes-modal">Excluir</a>
                        </td>
                      </td></td><td>
                        {% endfor %}
                    </tr>
</div>
                </tbody>
             </table>
  </div>
</div>
         </div>
     </div> <!-- /#list -->
    <div class="col-sm-6">
      <div align="right" style="margin-top:20px;">

    {% endblock %}
</body>
