{% extends 'grade/base.html' %}
{% load staticfiles %}
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grade.css' %}">
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <H1 align="center" style="margin-top:20px;">Turmas</H1>
      </div>
</BR>
      <div class="col-sm-4">
        <div align="center" style="margin-top:80px;">
          <ul style="width: 150px; height: 150px; overflow: auto; list-style-type: none; border: solid 2px black;">
            {% for turmas in data %}
              <li style="font-size:20px;">{{ turmas.nome }}</li>
            {% empty %}

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <a href={% url 'turma_new' %} Style="text-decoration: none; box-sizing: border-box; color: white; background-color: rgb(106, 126, 170); padding: 5px 5px 5px 5px; font-size: 16px;">
        <b>CRIAR</b></a>
        <a href="#" Style="text-decoration: none; box-sizing: border-box; color: white; background-color: rgb(241, 193, 53); padding: 5px 5px 5px 5px; font-size: 16px; margin-left:25px;">
        <b>ALTERAR</b></a>
        <a href="#" Style="text-decoration: none; box-sizing: border-box; color: white; background-color: rgb(224, 101, 102); padding: 5px 5px 5px 5px; font-size: 16px; margin-left:25px;">
        <b>EXCLUIR</b></a>
      </div>
    </div>
  </div>

{% endblock %}
</body>
