{% extends 'grade/base.html' %}
{% load staticfiles %}
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grade.css' %}">
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <H1 align="center" style="margin-top:20px;">Disciplinas</H1>
      </div>
      <div class="col-sm-4">
        <div align="right" style="margin-top:80px;">
          <ul style="width: 150px; height: 150px; overflow: auto; list-style-type: none; border: solid 2px black;">
            {% for discps in data %}
              <li>{{ discps.disciplina }}</li>
            {% empty %}

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <a href="/" Style="text-decoration: none; box-sizing: border-box; border: 1px solid black; color: white; background-color: rgb(106, 126, 170); padding: 5px 5px 5px 5px; font-size: 20px;">
        Criar Disciplina</a>
        <a href="#" Style="text-decoration: none; box-sizing: border-box; border: 1px solid black; color: white; background-color: rgb(241, 193, 53); padding: 5px 5px 5px 5px; font-size: 20px; margin-left:25px;">
        Alterar Disciplina</a>
        <a href="#" Style="text-decoration: none; box-sizing: border-box; border: 1px solid black; color: white; background-color: rgb(224, 101, 102); padding: 5px 5px 5px 5px; font-size: 20px; margin-left:25px;">
        Excluir Disciplina</a>
      </div>

    </div>
  </div>
{% endblock %}
</body>
