{% extends 'grade/base.html' %}
{% load staticfiles %}
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grade.css' %}">
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <H1 align="left" style="margin-top:20px;">Professor</H1>
      </div>
    </div>
    <div class="col-sm-6">
      <div align="right" style="margin-top:20px;">
        <ul style="width: 240px; height: 150px; overflow: auto; list-style-type: none; border: solid 2px black;">
          {% for prof in professor %}
            <li>{{ prof.nome }}</li>
          {% empty %}

          {% endfor %}
        </ul>
      </div>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

    <div class="row">
      <div align="left" style="margin-top:40px;">
        <a href="/novoprofessor" Style="text-decoration: none; color: white; background-color: grey; padding: 5px 20px 5px 5px; font-size: 20px; margin-left:25px">
        <b>   CRIAR</b></a>
        <a href="#" Style="text-decoration: none; color: white; background-color: grey; padding: 5px 5px 5px 5px; font-size: 20px; margin-left:25px;">
        <b>ALTERAR</b></a>
        <a href="#" Style="text-decoration: none; color: white; background-color: grey; padding: 5px 5px 5px 5px; font-size: 20px; margin-left:25px;">
        <b>EXCLUIR</b></a>
      </div>
    </div>


{% endblock %}
</body>
