{% extends 'grade/base.html' %}

{% block content %}
  <div  class="container" >
    <div class="row">
    <div class="col-md-12" class="col-sm-12">
    <H1 align='center' style="margin-top:50px;">InovaHora</H1>
    <h2 align=center><br>Bem vindo!</h2>
      </br>
  <div align= center>
      <a class="btn btn-default" alingn=center href="disciplinas" role="button"><b>DISCIPLINA</b></a>
      <a class="btn btn-default" href="professores" role="button"><b>PROFESSOR</b></a>
      <a class="btn btn-default" href="turmas" role="button"><b>TURMA</b></a>
  </div>




{% endblock content %}
